/*!
  Name: Weather
  Description: This is the stylesheet for the zM Weather WordPress plugin.
*/
.sidebar-container .zm-weather-container .temperature {
    font-size: 19px;
    font-weight: 300;
    }

.sidebar-container .zm-weather-container img {
    width: 32px;
    height: auto;
    }

.sidebar-container .zm-weather-container .left {
    margin: 0 5px 5px 0;
    }

.sidebar-container .zm-weather-container .right {
    width: 86px;
    }

.sidebar-container .zm-weather-container .item .meta {
    }

.sidebar-container .zm-weather-container {
    float: left;
    margin: 0 10px 0 0;
    }

.sidebar-container .zm-weather-container .icon {
    float: left;
    margin: 0 5px 0 0;
    }

.sidebar-wide-container .zm-weather-container .item {
    margin: 0 19px 0 0;
    width: 45px;
    }

.sidebar-wide-container .zm-weather-container .item-last {
    margin: 0;
    }

.zm-weather-container .item {
    float: left;
    }

.zm-weather-container .item {
    letter-spacing: 0.09em;
    }

.zm-weather-container .item .icon img,
.zm-weather-container .item-last .icon img {
    background: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #AAA;
    width: 32px;
    }

.sidebar-wide-container .zm-weather-container .item {
    margin: 0 19px 0 0;
    width: 45px;
    }

.sidebar-container .zm-weather-container .item .day-of-week {
    display: none;
    }

.sidebar-wide-container .zm-weather-container .temperature,
.sidebar-wide-container .zm-weather-container .item .weather-high .text,
.sidebar-wide-container .zm-weather-container .item .weather-low .text,
.sidebar-wide-container .zm-weather-container .item .weather-wind .text {
    display: none;
    }


.single .main-container .zm-weather-container .item {
    margin: 0 0 10px;
    }

.single .main-container .zm-weather-container .item:last-child {
    margin: 0;
    }

.single .main-container .zm-weather-container .item-last .icon,
.single .main-container .zm-weather-container .item .icon {
    float: left;
    margin: 0 10px 0 0;
    }